<footer>
    <div id="license">
        &copy Coding Ninjas. All rights reserved
    </div>

    <div id="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>