<footer id="layout-footer">
    <div id="license">
        &copy Coding Ninjas. All rights reserved
    </div>

    <div id="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <% if(locals.user){ %>
                    <a href="/users/profile/<%=user.id%>">Profile</a>
                    <% }else{ %>
                        <a href="/users/sign-in">Profile</a>

                        <% } %>

            </li>
        </ul>
    </div>
</footer>