footer {
    display: flex;
    justify-content: start;
    background-color: lightgray;
    justify-content: space-between;

}

#nav {
    ul {
        display: flex;
        list-style-type: none;


        li a {
            text-decoration: none;
            // justify-content: space-between;
            margin-right: 10px;
            font-size: 20px;
            color: black;
        }

    }
}

#license {
    font-size: 20px;
    margin-top: 2px;
}