header {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: whitesmoke;
}

#sign-in {

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
            margin-right: 5px;

            a {

                color: whitesmoke;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
}

#logo {
    font-size: 40px;
    margin-left: 5px;
}